.gamesCon {
  height: inherit;
}

.list {
  height: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.gameIcon {
  margin-right: 10px;
}
.gameIcon:hover {
  opacity: 0.5;
  cursor: pointer;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.indexList {
  margin: 0 10px;
  width: 80px;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.indexList:hover {
  background-color: rgb(22, 24, 34);
}
.indexListPressed {
  margin: 0 10px;
  width: 80px;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  background-color: rgb(22, 24, 34);
}

.indices {
  background-color: rgb(22, 24, 34);
  height: 120px;
  display: block;
  position: absolute;
  text-align: center;
  min-width: 120px;
  bottom: 25px;
  overflow-y: scroll;
}

.index {
  background-color: transparent;
}
.index:hover {
  background-color: rgb(8, 10, 18);
  display: block;
}

@media (min-width: 40em) {
  .gamesCon {
    padding-left: 5%;
    padding-right: 7.5%;
  }

  .list {
    height: 80%;
    justify-content: flex-start;
  }
}
