.statsContainer {
  background-color: rgb(22, 24, 34);
  height: 100%;
  padding: 10px;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  display: flex;
  flex-direction: column;
  text-align: left;
}

.closeBtn {
  display: flex;
  justify-content: flex-end;
  text-align: right;
  margin-bottom: 30px;
  font-size: xx-large;
}
.closeBtn:hover {
  cursor: pointer;
}

.gameName {
  width: fit-content;
}
.gameID {
  margin-left: 10px;
}

.achievementsHead {
  text-decoration: underline;
  margin-top: 30px;
}

.achievements {
  overflow-y: scroll;
}
