body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
i,
span,
button {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(86, 89, 107);
  font-weight: bold;
}

button {
  background-color: transparent;
  border: 0 solid transparent;
}
button:active {
  color: rgb(46, 47, 56);
}
button:disabled {
  color: rgb(46, 47, 56);
}

@media (hover: hover) {
  button:hover {
    color: rgb(46, 47, 56);
  }
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(39, 41, 50);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(8, 10, 18);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: yellow;
}

.menu {
  background-color: rgb(22, 24, 34);
  padding: 0;
}

.content {
  background-color: rgb(33, 34, 40);
  height: 100%;
}

.contentHeader {
  display: none;
}

@media (min-width: 40em) {
  .App {
    flex-direction: row;
  }

  .menu {
    max-width: 25%;
    max-height: 100%;
    overflow-y: scroll;
  }
  .content {
    width: 100%;
  }

  .contentHeader {
    display: flex;
    font-size: 2em;
    align-items: center;
    height: 10%;
  }
}
